<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WebForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--系统初始密码-->
    <add key="InitPassword" value="111"/>
    <!--数据库类型-->
    <add key="DatabaseType" value="MSSQL"/>
    <!--允许上传的文件类型-->
    <add key="UploadFileType" value="jpg,png,gif,bmp,zip,rar,7z,doc,docx,xls,xlsx,ppt,pptx,pdf,txt"/>
    <add key="meetUrl" value="http://202.120.85.37:9080/"/>
  </appSettings>
  <connectionStrings>
    <add name="PlatformConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=FoWoOA;UID=sa;PWD=torch"/>
    <!--<add name="PlatformConnectionOracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=MSSQLSERVER))); User Id=sa; Password=torch"/>-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages validateRequest="false" enableViewState="false" enableEventValidation="false" enableViewStateMac="false"></pages>
    <httpRuntime requestValidationMode="2.0" maxQueryStringLength="20480" maxRequestLength="102400" />
    <!--<sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:8010" stateNetworkTimeout="40" timeout="20"/>-->
  </system.web>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <WebForm.Properties.Settings>
      <setting name="WebForm_cn_edu_ecnu_datawebservice_ECNUWebService"
        serializeAs="String">
        <value>http://datawebservice.ecnu.edu.cn/ECNUWebService.asmx</value>
      </setting>
      <setting name="WebForm_cn_edu_ecnu_duanxin_SMSService" serializeAs="String">
        <value>http://duanxin.ecnu.edu.cn/SMSService.asmx</value>
      </setting>
      <setting name="WebForm_cn_edu_ecnu_userinfo_SMSWebService" serializeAs="String">
        <value>http://datawebservice.ecnu.edu.cn/smsWebService.asmx</value>
      </setting>
    </WebForm.Properties.Settings>
  </applicationSettings>
</configuration>
