<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PlatformConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=FoWoOA;UID=sa;PWD=torch"/>
    <!--<add name="PlatformConnectionOracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=MSSQLSERVER))); User Id=sa; Password=torch"/>-->
  </connectionStrings>
  <appSettings>
    <!--系统初始密码-->
    <add key="InitPassword" value="111"/>
    <!--数据库类型-->
    <add key="DatabaseType" value="MSSQL"/>
    <!--允许上传的文件类型-->
    <add key="UploadFileType" value="jpg,png,gif,bmp,zip,rar,7z,doc,docx,xls,xlsx,ppt,pptx,pdf,txt"/>
    <add key="meetUrl" value="http://console.qa.roomis.com.cn/"/>
  </appSettings>
</configuration>