<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PlatformConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=FoWoOA;UID=sa;PWD=torch"/>
    <!--<add name="PlatformConnectionOracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=MSSQLSERVER))); User Id=sa; Password=torch"/>-->
  </connectionStrings>
</configuration>